<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="esh-potato-analytics.ZPM">
    <Module>
      <Name>esh-potato-analytics</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="esh.csvpkey.PKG"/>
      <!-- <Resource Name="*.DFI" /> -->
      <Resource Directory="dfi" FilenameExtension="dfi" Name="Potatos-AnnualPotatos.dashboard.DFI" />
      <Resource Directory="dfi" FilenameExtension="dfi" Name="Potatos-Totals.pivot.DFI" />
      <Resource Directory="dfi" FilenameExtension="dfi" Name="Potatos-Yearly.pivot.DFI" />
      <Invokes>
        <Invoke Class="%DeepSee.Utils" Method="%BuildCube">
          <Arg>PotatoCube</Arg>
        </Invoke>
        <Invoke Class="esh.csvpkey.PotatoCube" Method="EnableIRISBI">
        </Invoke>
      </Invokes>
      <Parameter Name="folder" Value="user" />
      <FileCopy Name="dsw/user.json" Target="${cspdir}dsw/configs/${folder}.json"/>
    </Module>
  </Document>
</Export>